@import "base.scss";
$vpw:1;


$vpw:0;
@media screen and (max-width: 750px) {
	.loading{
		@include flt;
		z-index: 99999;
		background-image: url(../images/loading.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		background-color: #FFF;
	}
	.stage_top{
		@include fltvw(750,92);
	}
	.menu{
		@include flt;
		display: none;
	}
	.pop{
		@include flt;
		display: none;
	}
	.stage{
		@include alt;
		overflow: hidden;
		.tip_box{
			@include alb;
			@include font(15px,18px,#000);
			z-index: 1;
			background-color: rgba(255,255,255,0.8);
		}
		.street{
			@include alt(auto,100vh);
			transition:0.15s;
			z-index: 0;
			img{
				width: auto;
				height: 100%;
			}
		}
	}
}